{% extends 'mainlayout' %}
 
{% block scripts %}
<script src="/popup_login.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/search.css">
 {% endblock %}

 {% block content %}
 <div class="row">
  {% for category in categories %}
   <div class="col-md-4 col-sm-6">
     <div class="panel panel-default">
       <div class="panel-heading">
         {{ category.name}}
         <span class="label label-warning pull-right">Összes megtekintése</span>
       </div>
       <ul class="list-group">
         {% for blogs in category.topBlogs %}
         <li class="list-group-item">
           <a href="/blog/{{blogs.id}}">
           {{ blogs.title }}
           </a>
         </li>
         {% endfor %}
       </ul>
     </div>
   </div>
   {% endfor %}
</div>
 {% endblock %}
   